.SomeThing .content{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/01.jpg);
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.SomeThing form input{
    transition: 0.5s;
    border: 1px solid #414141;
}
.SomeThing form input:focus , textarea:focus{
    border: 1px solid var(--main-color);
    outline: none;
}

.SomeThing .select::after{
    content: "";
    position: absolute;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: 0.15s ease-in-out;
    width: 5px;
}

.SomeThing .select.open::after{
    transform: rotate(-135deg);
}
.SomeThing .select .list{
    width: 100%;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    /* pointer-events: none; */
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: 0.5s;
    z-index: 9;
}
.SomeThing .select.open .list{
    opacity: 1;
    transform: scale(1) translateY(0)
}

/*  */
.SomeThing .radio-btn span::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 6px;
    left: 6px;

}

/*  */
.SomeThing .btn-1::before{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  border-radius: inherit;

}
.SomeThing .btn-1::before{
  background-color: #fff;
}
.SomeThing .btn-1:hover:before {
  transform: translateY(0);
}
.SomeThing .btn-1:hover {
  color: var(--main-color); /* نص أبيض على hover */
}