.Mouse .cursor-one {
    margin-left: -12px;
    margin-top: -12px;
    width: 35px;
    height: 35px;
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.5;
    transition: all 0.08s ease-out;
     position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translateZ(0);
    visibility: hidden;
}
.Mouse .cursor-two{
    width: 8px;
    height: 8px;
    z-index: 10000001;
    background-color: var(--main-color);
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translateZ(0);
    opacity: 0.5;
    transition: all 0.08s linear;
    visibility: hidden;
}

